<div class="bg-dark navigation-menu">
    <header class="container d-flex flex-wrap align-items-center justify-content-between py-3">
        <NavLink class="navbar-brand text-white" href="" Match="NavLinkMatch.All">Weather</NavLink>
        <ul class="nav col-auto justify-content-center">
            <li>
                <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hjem
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tæller
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Vejr
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="chat">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Chat
                </NavLink>
            </li>
        </ul>
        
        <ul class="nav">
            <li>
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="nav-link text-white">About</a>
            </li>
        </ul>
    </header>
</div>